
body {
    background-color: #d4a017;
    font-family: Arial, sans-serif;
    text-align: center;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.647);
    border: 2px solid black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
}

input, textarea {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.my-button {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}


